body {
  margin: 0%;
  padding: 0;
}
.h6,
.h5 {
  margin: 0;
  padding: 0;
}
.bannerimage {
  /* background-image: url("https://images.pexels.com/photos/317157/pexels-photo-317157.jpeg");
  height: 100vh; */

  width: 100%;
  background-size: cover;
  background-position: center;
  color: black;
  margin-top: 54px;
}
.Discription {
  position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-shadow: cadetblue;
    max-width: 344px;
    font-family: Tahoma;
    font-size: 40px;
    color: black;
    font-weight: 600;
    mix-blend-mode: overlay;
}
.Card.ImgOverlay {
  position: absolute;
  top: 59%;
  left: 29%;
  
  transform: translate(-50%, -50%);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bttn2 {
  display: flex;
  margin-right: 11rem;
  /* padding: 1rem; */
  justify-content: center;
  align-content: center;
}
