.body {
  margin: 0px;
  padding: 0;
}
.Formgroup {
  font-size: 900;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.btnn {
  display: flex;
  justify-content: center;
}
.btnn:hover{
    background-color: black;
}   